<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
</head>
<body>
    <h1>Напишите нам</h1>
    <form action="/contacts" method="POST">
        <div>
            <label for="name">Ваше имя:</label><br>
            <input type="text" name="name" id="name">
        </div>
        <br>
        <div>
            <label for="message">Сообщение:</label><br>
            <textarea name="message" id="message"></textarea>
        </div>
        <br>
        <button type="submit">Отправить</button>
    </form>

    <!-- Кнопка, чтобы вернуться на главную -->
    <form action="/" method="GET">
        <button type="submit">Назад на главную</button>
    </form>
</body>
</html>
